body {
    background: white url("images/sparkle.09fcc069751b.gif") fixed bottom right;
}
ul a {
    list-style-type: none;
    color:lightseagreen;
}
ul b {
    list-style-type: none;
    color:lightseagreen;
}