* {
    font-family: Luminari, fantasy;
    margin: 3;
    padding: 0;
}
body {
    background: white url("images/sparkle.gif") fixed bottom right;
    color: royalblue;
    background-size: 600px;
    height: 0;
    max-height: 500px;
    margin-left: 20;
}
h1 {
    text-align: center;
}
h6 {
    text-align: right;
}
#dropdownMenuButton {
    float: right;
}
#dropdownMenu {
    padding: 3;
}
ul {
    list-style: none;
    color: cornflowerblue;
    font-family: Apple Chancery, cursive;
}
#homebutton {
    position: fixed;
    right: 0;
    bottom: 0;
}
#verification {
    position: fixed;
    bottom: 0;
}
